@model IndexViewModel
@{
    ViewData["Title"] = Localizer["Manage your account"];
}

<div class="container-fluid main-contents">
    <p class="alert @ViewData["Status"]">@ViewData["StatusMessage"]</p>

    <div class="user-info">
        <dl class="dl-horizontal">
            <dt>@Localizer["Avatar"]</dt>
            <dd>
                <div class="avatar" data-toggle="modal" data-target="#imageClipModal">
                    <img src="@Url.UserAvatar(Model.AvatarId)" class="img-thumbnail img-circle" id="user-avater"/>
                </div>
            </dd>
            <dt>@Localizer["Full Name"]</dt>
            <dd>@Model.UserInfo.FirstName @Model.UserInfo.LastName</dd>
            <dt>@Localizer[@Html.DisplayNameFor(m => m.Email)]</dt>
            <dd>@Model.Email</dd>
            <dt>@Localizer["Password"]</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">@Localizer["Change"]</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">@Localizer["Add"]</a>
                }
            </dd>
            <dt>@Localizer["External Login"]</dt>
            <dd>
                @foreach (var ex in Model.ExternalLogins)
                {
                    <div>
                    @if (ex.IsLoggedIn)
                    {
                        @if (Model.CanRemoveExternalLogin)
                        {
                            <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="external-login-form">
                                <input asp-for="@ex.LoginProvider" name="LoginProvider" type="hidden" />
                                <input asp-for="@ex.ProviderKey" name="ProviderKey" type="hidden" />
                                <a onclick="$(this).closest('form').submit(); return false;"
                                    class="btn-bracketed">@Localizer["Remove"]</a>
                            </form>
                        }
                    }
                    else
                    {
                        <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="external-login-form">
                            <input type="hidden" asp-for="@ex.LoginProvider" name="provider"/>
                            <a title="Log in using your @ex.DisplayName account"
                                onclick="$(this).closest('form').submit(); return false;"
                                class="btn-bracketed">@Localizer["Add"]</a>
                        </form>
                    }
                    <span>@Localizer["Login Via {0}", ex.DisplayName]</span>
                    </div>
                }
            </dd>
        </dl>
    </div>
</div>

<div class="modal fade" id="imageClipModal" data-upload-url="@Url.Content("~/UserAvatar/Upload")">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <p class="modal-title">@Localizer["Change avatar"]</p>
            </div>
            <div class="modal-body">
                <div class="container-fluid">
                    <div>
                        <span class="clip-image" id="image-clip">
                            <img src="" />
                        </span>
                    </div>
                </div>
                <input type="range" id="zoomRange" tabindex="-1" />
            </div>
            <div class="modal-footer">
                <div class="btn-group">
                    <button class="btn btn-default" id="fileSelectButton">@Localizer["Select file"]</button>
                    <button class="btn btn-default" id="drawImageButton">@Localizer["Submit"]</button>
                </div>
            </div>
        </div>
    </div>
</div>

@section styles
{
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/manage/index.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/manage/index.min.css"/>
    </environment>
}

@section scripts
{
    <environment names="Development">
        <script type="text/javascript" src="~/js/lib/imgCliper.js"></script>
        <script type="text/javascript" src="~/js/manage/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/manage/index.min.js"></script>
    </environment>
}