@model IndexViewModel
@{
    ViewData["Title"] = "Manage your account";
}

<div class="container-fluid main-contents">
    <p class="alert @ViewData["Status"]">@ViewData["StatusMessage"]</p>

    <div class="user-info">
        <dl class="dl-horizontal">
            <dt>アバター</dt>
            <dd>
                <div class="avatar">
                    <img src="@Url.UserAvatar(Model.Id)" class="img-thumbnail img-circle"/>
                </div>
            </dd>
            <dt>メール</dt>
            <dd>@Model.Email</dd>
            <dt>お名前</dt>
            <dd>@Model.UserInfo.FirstName @Model.UserInfo.LastName</dd>
            <dt>パスワード</dt>
            <dd>
                @if (Model.HasPassword)
                {
                    <a asp-controller="Manage" asp-action="ChangePassword" class="btn-bracketed">変更</a>
                }
                else
                {
                    <a asp-controller="Manage" asp-action="SetPassword" class="btn-bracketed">追加</a>
                }
            </dd>
            <dt>外部ログイン</dt>
            <dd>
                @foreach (var ex in Model.ExternalLogins)
                {
                    <div>
                    @if (ex.IsLoggedIn)
                    {
                        <form asp-controller="Manage" asp-action="RemoveLogin" method="post" class="external-login-form">
                            <input asp-for="@ex.LoginProvider" name="LoginProvider" type="hidden" />
                            <input asp-for="@ex.ProviderKey" name="ProviderKey" type="hidden" />
                            <a onclick="$(this).closest('form').submit(); return false;"
                                class="btn-bracketed">削除</a>
                        </form>
                    }
                    else
                    {
                        <form asp-controller="Manage" asp-action="LinkLogin" method="post" class="external-login-form">
                            <input type="hidden" asp-for="@ex.LoginProvider" name="provider"/>
                            <a title="Log in using your @ex.DisplayName account"
                                onclick="$(this).closest('form').submit(); return false;"
                                class="btn-bracketed">追加</a>
                        </form>
                    }
                    <span>@(ex.DisplayName)でログイン</span>
                    </div>
                }
            </dd>
        </dl>
    </div>
</div>

@section styles
{
    <environment names="Development">
        <link rel="stylesheet" type="text/css" href="~/css/manage/index.css"/>
    </environment>
    <environment names="Staging,Production">
        <link rel="stylesheet" type="text/css" href="~/css/manage/index.min.css"/>
    </environment>
}

@section scripts
{
    <environment names="Development">
        <script type="text/javascript" src="~/js/index.js"></script>
    </environment>
    <environment names="Staging,Production">
        <script type="text/javascript" src="~/js/index.min.js"></script>
    </environment>
}