<script type="text/ng-template" id="/modal/room/form.tmpl.html">
    <form name="CreateRoomForm" ng-submit="ctrl.doRoom()" novalidate>
        <div class="form-group">
            <label for="CreateRoomForm_room_name">
                <span>@VLocalizer["Name"]</span>
            </label>
            <input type="text" name="name"
                id="CreateRoomForm_room_name"
                class="form-control"
                ng-model="ctrl.room.name"
                placeholder="@VLocalizer["{0} is required.", @VLocalizer["Name"]]"
                required
                maxlength="30" />
        </div>
        <div class="form-group">
            <label for="CreateRoomForm_room_description">
                <span>@VLocalizer["Description"]</span>
            </label>
            <textarea name="description"
                id="CreateRoomForm_room_description"
                class="form-control"
                ng-model="ctrl.room.description"
                maxlength="255"
                placeholder="@Localizer["The field {0} must be a string with a maximum length of {1}.", @VLocalizer["Description"], 255]"
                rows="8"
                style="resize: vertical;"></textarea>
        </div>
        <div class="form-group">
            <button type="submit" class="btn btn-default"
                ng-disabled="CreateRoomForm.$invalid || !CreateRoomForm.$dirty">@Localizer["Submit"]</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.close()">@Localizer["Cancel"]</button>
        </div>
    </from>
</script>

<script type="text/ng-template" id="/modal/room/create.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@VLocalizer["Create room"]</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main" ng-include="'/modal/room/form.tmpl.html'"></div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/edit.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@VLocalizer["Edit room"]</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main" ng-include="'/modal/room/form.tmpl.html'"></div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/detail.tmpl.html">
    <div class="modal-body modal_room_detail">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@VLocalizer["Room detail"]</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main">
            <dl>
                <dt>@VLocalizer["Name"]</dt>
                <dd><div class="name">{{ctrl.room.name}}</div></dd>
                <dt>@VLocalizer["Description"]</dt>
                <dd><div class="description">{{ctrl.room.description}}</div></dd>
                <dt>@VLocalizer["CreatedDate"]</dt>
                <dd><div><time>{{ctrl.room.createdDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
                <dt>@VLocalizer["UpdatedDate"]</dt>
                <dd><div><time>{{ctrl.room.updatedDate | date: 'yyyy/MM/dd HH:mm:ss'}}</time></div></dd>
            </dl>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/edit-image.tmpl.html">
    <div class="modal-body modal_room_edit_image">
        <div class="modal-header">
            <h3 class="modal-title">
                <span>@VLocalizer["Edit room image"]</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h3>
        </div>
        <div class="modal-main">
            <div>
                <span class="clip-image" chat-image-cliper c:ctrl="ctrl" c:assign="c" c:option="{zoomStep: 10, imageType: 'image/png'}">
                    <img src="" />
                </span>
            </div>
            <div>
                <input type="range" ng-change="ctrl.changeRange()" ng-model="ctrl.c.range.val" min="{{ ctrl.c.range.min }}" max="{{ ctrl.c.range.max }}"
                    tabindex="-1" />
            </div>
        </div>
        <div class="modal-footer" style="text-align: center;">
            <button class="btn btn-default" ng-click="ctrl.fileSelect()">@Localizer["Select file"]</button>
            <button class="btn btn-default" ng-click="ctrl.upload()" ng-disabled="ctrl.disableUpload()">@Localizer["Submit"]</button>
        </div>
    </div>
</script>

<script type="text/ng-template" id="/modal/room/delete-confirm.tmpl.html">
    <div class="modal-body">
        <div class="modal-header">
            <h5 class="modal-title text-center">
                <span>@VLocalizer["Remove room Confirmation"]</span>
                <a class="pull-right" ng-click="ctrl.close()">
                    <i class="glyphicon glyphicon-remove-sign"></i>
                </a>
            </h5>
        </div>
        <div class="modal-main">
            <p>@VLocalizer["Are you sure you want to delete the room '{{{{ctrl.room.name}}}}' ?"]</p>
        </div>
        <div class="modal-footer" style="text-align:center;">
            <button type="button" class="btn btn-default" ng-click="ctrl.ok()">@Localizer["Yes"]</button>
            <button type="button" class="btn btn-default" ng-click="ctrl.close()">@Localizer["No"]</button>
        </div>
    </div>
</script>